@use 'variables' as v;
@use 'base/mixins' as m;

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after{
    box-sizing: inherit;
}

body{
    font-family: v.$fuente_principal;
    font-size:1.6rem;
}

p{
    font-size:2 rem;
    color:v.$negro;
    line-height: 1.5;
}

.contenedor{
    width:95%;
    max-width:120rem;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

h1,h2,h3{
    margin: 2rem;
    color:v.$verdeTitulo;
}

h1{
    font-size: 3rem;
}

h2{
    font-size:2.6rem;
}

h3{
    font-size: 3rem;
}

.bg-amarillo{
    background-color: v.$amarillo;
    li:nth-child(odd){
        background-color: darken(v.$amarillo, 20%);
    }
}
.bg-verde{
    background-color: v.$verde;
    li:nth-child(odd){
        background-color: darken(v.$verde, 20%);
    }
}

.fijar-body{
    overflow: hidden;
}

.fijo{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    box-shadow:.1rem .2rem .1rem #666;
}  

.body-scroll{
    padding-top:132px;
}

@include m.tablet{
 

    .body-scroll{
        padding-top:86px;
    }
}




