// Tipografía

$fuente_principal: 'Montserrat', sans-serif;

// Colores

$verde: #4CB8B3;
$verdeClaro:#c8e8e5;
$verdeTitulo:#213b3a;
$rosa: #F53756;
$amarillo: #FEF46D;
$morado: #752F57;
$negro: #000;
$blanco: #fff;
$precio:#39eb28;

// Tamaños de media queries

$telefono: 480px;
$tablet: 768px;
$pc: 992px;
$pcXl: 1200px;
