@use 'base/mixins' as m;
@use 'base/variables' as v;

.main{
    width: 90%;
    margin: -10rem auto 4rem auto;
    background:linear-gradient(to top, v.$verdeClaro,v.$blanco);
    border-radius: 3rem;
    padding: 3rem 0;

    article{
        background:linear-gradient(to top,v.$verdeClaro,v.$blanco) ;
        margin: 1rem auto;
        width: 85%;
        padding: 1rem;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        transition: all .2s linear;

        h1{
            color:v.$verdeTitulo;
        }

        img{
            max-height: 40rem;
            width: 100%;
            margin:auto;
            background-position: center center;
            background-size: contain;
            background-repeat: no-repeat;
        }

        p{
            color:v.$verdeTitulo;
            width: 100%;
            padding: 0;
            height: 0;
            overflow: hidden;
        }
        span{
            color:v.$verdeTitulo;
            font-weight: bolder;
            font-size: 2rem;
            text-align: left;
            margin: 0 0 2rem 0;
        }
        .descuento{
            color:v.$precio;
            margin:0;
            font-size: 1.7rem;
        }

        button{
            background:transparent;
            border: 1px solid v.$verdeTitulo;
            color:v.$verdeTitulo;

            padding:1.5rem;
            margin: .5rem 0;
            text-transform: uppercase;
            font-weight: bolder;
            border-radius:1rem;
            transition: all .2s linear;
        }

        button:hover{
            cursor: pointer;
            -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
            box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
        }

        &:hover{
            cursor: pointer;
            -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
            box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
        }

    }

    @include m.telefono{
        @include m.grid(2rem,2)
    }

    @include m.tablet{
        @include m.grid(2rem,3);

    }

    @include m.pc{
        @include m.grid(2rem,4);
    }
}