
    :root{
        
        --colorFuente: #253a58;
        --colorTitulo: #151b26;
        --colorClaro: #dadde5;
        --fondo: linear-gradient(to top,  var(--colorClaro),#ffffff);
        --mascara:rgba(0,0,0,.7);
    }

    html{
    font-size: 62.5%;
    box-sizing: border-box;
    }

    *,
    *:before,
    *:after{
        box-sizing: inherit;
    }

    body{
        background: var(--fondo);
        color: var(--colorFuente);
        min-height: 100vh;
        text-align: center;
    }

    h1,h2,h3{
        color:var(--colorTitulo);
    }
    h1{
        font-size: 4rem;
    }
    h2{
        font-size: 3rem;
        text-align: left;
    }

    h3{
        font-size: 2rem;
    }

    p{
        font-size: 2rem;
        text-align: justify;
        padding: 1rem;
        margin: auto 10vw ;
    }

    #app{
        width: 80%;
        margin: 0 auto;
    }
    .contenedor-tags{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 80%;
        margin: auto;
    }

    .tag-usuario{
        width: 25rem;
        margin: 1rem;
        border: 1px solid var(--colorTitulo);
        border-radius: 1.5rem;
        transition: all .3s linear;
    }

    .tag-usuario:hover{
        background-color: var(--colorFuente);
        cursor: pointer;
    }

    .tag-usuario:hover h3{
        color: var(--colorClaro);
    }

    .overlay{
        position: fixed;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--mascara);
        overflow-y: scroll;
    }
    .encabezado-usuario{
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .5rem 2rem;
    }
    .encabezado-usuario h1{
        margin-left: 3rem;
    }
    .btn-cerrar{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 5rem;
        height: 5rem;
        padding: 1rem;
        background-color: var(--colorTitulo);
        font-size: 3rem;
        color:var(--colorClaro);
        text-transform: uppercase;
        border-radius: 50%;
        transition: all .5s linear;
    }

    .btn-cerrar:hover{
        cursor: pointer;
        transform: rotate(360deg);
        border-radius: 5%;
        background-color: var(--blanco);
        color:var(--colorTitulo);
    }

    .fijar-body{
        overflow: hidden;
    }

    .usuario{
        width: 70vw;
        min-height: 50vh;
        margin:3rem auto;
        background: var(--fondo);
        padding: 2rem;
    }

    ul{
        margin:2rem auto;
        padding:0;
        list-style:none;
        text-align: left;
        font-size: 2rem;
        width: 80%;
    }

    .lista-usuario{
        font-size: 2rem;
        text-align: left;
        width: 100%;
    }

    @media (max-width:768px){
        .usuario{
            width: 90vw;
            padding: .5rem;
        }

    }