<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/build/css/app.css">
    <title>Ejercicio 5</title>
</head>
<body>
    <article>
        <h1>Listado de usuarios</h1>
        <p>Queremos mostrar el listado de usarios que existen en nuestro sistema y que al hacer click sobre uno de ellos nos muestre la información del usuario.</p>
        <p>Para obtener el listado de usuarios el backend nos ha proporcionado el siguiente endpoint <a href="https://jsonplaceholder.typicode.com/users" target="_blank">Users</a>.</p>
    </article>

    <!-- Se define el id app d+onde apuntará la instancia de Vue -->
    <main id="app" class="d-none"> 

        <!-- Se muestra el atributo titulo de la instancia de vue -->
        <h2>{{titulo}}</h2>

        <!-- Si usuario tiene un valor se muestra un overlay con la información del usuario -->
        <div v-if="usuario"
        class="overlay ">
            <section class="usuario">
                <div class="encabezado-usuario">
                    <h1>{{usuario.name}}</h1>
                    <a v-on:click="cerrarOverlay" class="btn-cerrar">X</a>
                </div>

                
                <ul>
                    <h3>Información básica</h3>
                    <li>Nombre de usuario: {{usuario.username}}</li>
                    <li>Numero telefónico: {{usuario.phone}}</li>
                    <li>Email: {{usuario.email}}</li>
                    <li>Sitio web: {{usuario.website}}</li>
                </ul>

                
                <ul>
                    <h3>Información de la compañia</h3>
                    <li>Nombre de la compañia: {{usuario.company.name}}</li>
                    <li>Giro de la compañia: {{usuario.company.bs}}</li>
                    <li>Slogan de la compañia: {{usuario.company.catchPhrase}}</li>
                </ul>

                <ul>
                    <h3>Dirección</h3>
                    <li>Ciudad: {{usuario.address.city}}</li>
                    <li>Calle: {{usuario.address.street}}</li>
                    <li>Suite: {{usuario.address.suite}}</li>
                    <li>Código postal: {{usuario.address.zipcode}}</li>
                    <li>Coordenadas: {{usuario.address.geo.lat}}, {{usuario.address.geo.lng}}</li>
                </ul>
            </section>
            
        </div>
        
        <!-- Se crea un ciclo for de los elementos en usuarios de la instancia de Vue -->
        <div class="contenedor-tags">
            <div v-for="(usuario, index) in usuarios" 
            v-bind:key="index"
            class="tag-usuario"
            v-on:click="usuarioPresionado(usuario.id)">
                <h3>{{usuario.name}}</h3>
            </div>
        </div>
    

    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="/build/js/5.js"></script>
</body>
</html>

